@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

// $blue: #2a9d8f;
// $orange: #e76f51;
$blue: #002447;
$orange: #fe8249;
$superLight: 100;
$light: 300;
$regular: 400;
$bold: 600;
$white: #f9f9f9;
$teal: #53d3d1;



$main-color: #002447;
$tint-color: #fe8249;
$secondary-color: #f9f9f9;
$off-white: #e1f0fe;
$white: #ffffff;
$main-font: 'Poppins', sans-serif;
$bg-color: #eee;

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-weight:300;
}

body {
  font-family: $main-font;
  display:flex;
}

.container {
  display: grid;
  place-items:center;
  height: 100vh;
  width: 100vw;
  background: white;
}
.content {
  display:grid;
  text-align:center;
  min-width: 50vw;
  max-width: 70vw;
  min-height: 70vh;
  background:$main-color;
  color:white;
  padding:10px;
  border-radius: 5px;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);}

.content-left {
  padding-top: 5vh;
  display:flex;
  flex-direction: column;
  text-align: center;
  place-items: center;
  justify-content: center;
}

.content-left img {
  max-width: 60%;
  text-align: center;
}
.content-right {
  display:flex;
  place-items: center;
}
.content-right img {
  height: 40vh;
  border-radius: 150px;
  border: 3px solid $tint-color;
  margin: 5px;
}

.content-text {
  margin-top:10px;
}
.content-left p {
  color:$secondary-color;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.about-social {
  margin-top:20px;
  display: flex;
  text-align: center;
  place-items: center;
  width:100%;
  justify-content: space-around;
}

.portfolio {
  margin-top: 30px;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}



.btn {
  padding: 0.25rem 0.5rem;
  border-right: 2px solid $tint-color;
  border-left: 2px solid $tint-color;
  display: inline-block;
  margin: 1rem 1rem;
  color: $secondary-color;
  text-decoration: none;
  font-size: 1.2rem;
  background: linear-gradient(to right, $tint-color 50%, $main-color 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    both;
  animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  transition: all 500ms ease;
}
.btn:hover {
  background-position: left bottom;
  opacity: 0.9;
  color: $main-color;
  cursor: pointer;
}
.fab {
  font-size: 30px;
  color: $secondary-color;
  transition: all 500ms;

}

.fa:hover, .fab:hover {
  color: $tint-color;
  cursor: pointer;

}

@media only screen and (max-width: 600px) {
.content {
  width: 90vw;
  grid-template-columns: 1fr;
  height: auto;
}
.content-right {
 justify-content: center;
 margin-top:10px;
}

.content-left img {
  width: 50%;
}
.content-right img {
  width: 40%;
  height: 40%;
}
}